filter.mapping.url.patterns=[ \
  "*", \
  ]
headers=[ \
  "Access-Control-Allow-Credentials:\ true", \
  "Access-Control-Allow-Headers:\ Content-Type", \
  "Access-Control-Allow-Methods:\ POST,\ GET", \
  "Access-Control-Allow-Origin:\ http://localhost", \
  ]
servlet.context.helper.select.filter="(&(!(liferay.cors\=false))(osgi.jaxrs.name\=*))"
